body {
	background-color: forestgreen;
	font-family: sans-serif;
}
.menu{
	font-size: large;
	font-weight: bold;
	color: cornsilk;

}
.menu a{
	font-weight: bold;
	color: #ffffff;
}
.navegador a{
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	text-decoration: none;
}
.navegador a{
	padding: 20px;
	background-color: green;
}
p{
	color: black;
	font-size: large;
}
.login{
	text-align: right;
	margin-right: 0;
	position: relative;
}